<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>

    <style>
        .collapse.navbar-collapse  li a{
        color: white;
        }

        .navbar-brand{
        color: white;
        }

        .navbar-brand:hover{
        color: white;
        }

        .navbar-toggler-icon {
                background-image: url(
    "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(200, 200, 200, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
            }
    </style>
    <title>{{ task.name }}</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-dark text-light">
      <div class="container-fluid">
        <a class="navbar-brand">Task Manager</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{% url 'index' %}">My dashboard</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                My projects
              </a>
              <ul class="dropdown-menu bg-dark">
                {% for project in projects %}
                <li>
                    <a class="dropdown-item" href="{% url 'tasksKanban' project.id %}">
                        {{ project.name }}
                    </a>
                </li>
                {% endfor %}
                <!-- <li><hr class="dropdown-divider"></li> -->
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled">Disabled just like developer</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a href="{% url 'logout_user' %}"  class="nav-link">
                    Log out
                </a>
            </li>
            {% else %}
            <li class="nav-item">
                <a href="{% url 'register_user' %}" class="nav-link">
                    Sign Up
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'login_user' %}" class="nav-link">
                    Login
                </a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>


    <div class="container-fluid p-5">
        <div class="row justify-content-center">
            <div class="col-3 grey">
                <h2>
                    {{ task.name }}
                </h2>
                
                <span class="d-block">
                    <p class="d-inline fw-bold">Short description: </p>
                    <p class="d-inline">{{ task.shortDescription }}</p>
                </span>
                
                <span class="d-block">
                    <p class="d-inline fw-bold">Long description: </p>
                    <p class="d-inline">{{ task.longDescription }}</p>
                </span>

                <span class="d-block">
                    <p class="d-inline fw-bold">Category: </p>
                    <p class="d-inline">{{ task.category }}</p>
                </span>

                <span class="d-block">
                    <p class="d-inline fw-bold">State: </p>
                    <p class="d-inline">{{ task.state }}</p>
                </span>

                <span class="d-block">
                    <p class="d-inline fw-bold">Priority: </p>
                    <p class="d-inline">{{ task.priority }}</p>
                </span>

                <span class="d-block">
                    <p class="d-inline fw-bold">Files: </p>
                    <p class="d-inline">
                        <ul>
                            {% for file in files %}
                                <li class="d-flex justify-content-between">
                                    <p class="d-inline">{{ file.name }}</p>
                                    <a href="{% url 'openFileConfirm' projectId task.id file.name %}">
                                        <button class="btn btn-danger">
                                            <svg class="d-inline" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                                            </svg>
                                        </button>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </p>
                </span>
                <a href="{% url 'editTask' projectId task.id %}">
                    <button class="btn btn-primary">
                        Edit
                    </button>
                </a>
            </div>
            <div class="col-3">
                <a href="{% url 'taskStateChange' projectId task.id %}">
                    {% if task.state == 'toDo' %}
                        <h2>
                            Mark as In Progress
                        </h2>
                    {% elif task.state == 'inProgress' %}
                        <h2>
                            Mark as Done
                        </h2>
                    {% endif %}
                </a>
                <a href="{% url 'openTaskConfirm' projectId task.id %}">
                    Delete task
                </a>
                <div class="row mt-5">
                    {% if form.errors %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            There was an error with your code...
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">X</button>
                        </div>
                            
                    {% endif %}
                    <h4>Upload file</h4>
                    <form action="{% url 'uploadFile' projectId task.id %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <form>
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>